name: Publish GHCR Images

on:
  workflow_call:
    inputs:
      matrix:
        required: true
        type: object

jobs:
  publish-ghcr:
    runs-on: ubuntu-latest
    env:
      GHCR_USERNAME: ${{ github.actor }}
      GHCR_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix: ${{ inputs.matrix }}
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ env.GHCR_USERNAME }}
          password: ${{ env.GHCR_TOKEN }}
      - name: Publish ${{ matrix.service.name }} image (tag latest)
        run: echo "Image ghcr.io/${{ github.actor }}/gsm-${{ matrix.service.name }}:latest published (already pushed in scan-attest step)"
